:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.swiper-pagination-bullet {
    border-radius: 0.6rem;
    transition: all 0.3s ease-in-out;
    width: 1rem;
    height: 0.5rem;
    cursor: pointer;
    background-color: #fff;
    opacity: 0.6;
    &-active {
        width: 2rem;
        opacity: 1;
        cursor: default;
        background-color: #c03887;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /* Center slide text vertically */
}

.swiper-slide video {
    display: block;
    width: 100%;
    height: 100%;
}

a {
    font-weight: 500;
    text-decoration: none !important;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
}

h1 {
    font-size: 3.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #f0f0f0;
}

button {
    background-color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 0.6rem !important;
}

.input-label {
    color: #4c4c4c;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.input-box {
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    color: #4c4c4c;
    font-size: 1rem;
    background-color: white;
    border-radius: 0.6rem;
}

.video-tracker {
    border-radius: 0.6rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #fff;
    &.active {
        cursor: default;
        background-color: #c03887;
    }
}

.option-box {
    padding: 0.5rem;
    border-radius: 0.6rem;
    background-color: #fff;
    &__option {
        width: 100%;
        cursor: pointer;
    }
}

.fg-video {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.bg-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    filter: blur(10px);
}

video {
    position: relative;
}

html {
    font-size: 16px;
}
